<a href="https://colab.research.google.com/github/yearlyale/edd_1350_2021/blob/master/2octubre1358.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tipos de datos
- string  str
- enteros  int
- numero flotante  float
- Logico  bool
- Numero complejo  complex
- Listas  list 
- Tuplas  tuple
- Diccionario dict
- Conjuntos  set

In [ ]:
#string puede emplear "" , '' o """ """
universidad = "        universidad    nacional    autonoma de Mexico"
print (universidad)
# cuando el string es una sola palabra se usa ''
carrera = 'ico'
area = "software"
division = 'Division de las ciencias fisico matematicas'
print (carrera,area)
print (division)
# """ """ cuando el string incluye varios renglones

frase = """

Si
Funciona
No
Lo
Arregles!!!

"""

print (frase)

In [ ]:
#Mayusculas
print (universidad.upper() )
print (universidad)
#Primeras mayusculas
print (universidad.title())
#Eliminar espacios
universidad = universidad.strip()
print (universidad)
lista = universidad.split(" ")
print(lista)
nueva=""
for 1 in lista:
  if len(1) > 0:
    nueva += 1 + " "
print(nueva)

numeros = "1,2,34,56,100"
separados = numeros.split(",")
print(separados)
numeros_int= []
for num in separados:
  numeros_int.append( int(num) )

print(numeros_int)
print(nueva)
print(nueva.index("na"))
print(nueva.replace(' ','-'))
print(nueva)

# slicing
sintaxis 
[inicio : stop : incremento]

In [ ]:
# selector de elementos dentro de un string
print( nueva [0])
nueva = nueva.strip() 
print( nueva[ len(nueva) -1])
print (nueva[-2])

# slicing
print( nueva[ 12 : 20 : 1 ] )
print( nueva[ -6 :  : 1 ] )
# mexico al revez con slicing
print( nueva [ -1 ])

# Bool
Acepta solo dos valores
True bool (1)

False  bool (0)

In [ ]:
print(bool(0))
print(bool(1234))
flag = 0
print(bool(flag))
print(True)

# comentarios

para un comentario de una linea se usa #
para un comentario multiple linea equivalente a /* */ de java y lenguaje c se utiliza """ """

In [ ]:
# este es un comentario de una linea
"""

Este
es un 
comentario
de multiple
linea
"""

# funcion print
hay cuatro formas de usar print
- con comas (,)
- con signo + (+)
- con la funcion format () de la clase string
- con el operador f""

In [ ]:
# con comas
cantidad = 2
precio_chetos = 8
precio_fanta = 12

print(cantidad,precio_chetos,precio_fanta)

# con signo + solo opera con strings
print("hola"+"mundo")
print(cantidad+precio_chetos+precio_fanta)
print( str(cantidad)+ str(precio_chetos)+ str(precio_fanta))